*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(image_gallery/img/02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 40%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.content h1{
    font-family: Klein;
    letter-spacing: 30px;
    font-size: 50px;
    text-transform: uppercase;
}

.nav{
    position: absolute;
    right: 4%;
    top: 5%;
}

.nav ul{
    display: flex;
    list-style: none;

}

.nav ul a{
    padding-left: 15px;
    text-decoration: none;
    font-family: Klein;
    color: #000;
    font-size: 23px;

}


@font-face {
    font-family: Klein;
    src: url(fonts/klein-text-light-maisfontes.2a0a/klein-text-light.otf);
}