* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: sans-serif;
    overflow: hidden;
}


/*--------------------------------------------------------------------*/
.container {
    height: 100vh;
    max-width: 100%;
    text-align: center;
    background-image: url(../image_gallery/img/02.jpg);
    background-position: center;
    background-size: cover;
}

/*--------------------------------nav-------------------------------*/

.nav{
    display: flex;
    height: 10%;
    width: 100%;
}

.nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;

}

.nav ul a{
    text-decoration: none;
    font-family: Klein;
    color: #1a1a1a;
    font-size: 15px;
}

/*--------------------------contact-wrapper-------------------------*/

.contact-wrapper {
    height: 85%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.form-group label {
    text-align: left;
    margin-bottom: 5px;
    font-family: Bebas;
    font-size: 22px;
}

/*--------------------form button-----------------------*/


form button {
    background-color: #2e2e2e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: Bebas;
    font-size: 18px;
    letter-spacing: 2px;
    transition: 0.8s ;
}

form button:hover{
    background-color: #fff;
    border: 2px solid #2e2e2e;
    color: #2e2e2e;
}

/*---------------------------------------------------------*/

.form-group input,
.form-group textarea {
    margin-bottom: 5px;
    padding: 10px 255px 10px 5px;
    border: none;
    border-bottom: 1px solid black;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #000;
    font-family: 'Spartan';
}

.contact-info {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px;
    text-align: center;
}

.contact-info .info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info p {
    margin: 5px;
    font-family: 'Spartan';
}

.contact-info h3 {
    margin-bottom: 5px;
    font-family: 'Westmount';
}

.contact-info h4 {
    margin-top: 5px;
    font-family: 'Westmount';
    font-weight: bold;
}

.social-media {
    margin-top: 10px;

}

.social-media .fa-brands {
    padding: 2px 5px;
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-media .fa-brands:hover {
    transform: scale(1.2);
}

footer {
    height: 5%;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: Klein;
    font-size: 12px;
}

@media screen and (max-width: 950px) {
    .nav{
        position: relative;
    }
    .nav ul {
        position: fixed;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 1;
    }
    .nav ul.open{
        clip-path: circle(2000px at 90% -10%);
        -webkit-clip-path: circle(2000px at 90% -10%);
    }

    .toggle {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        left: 90%;
        top: 50%;
        transform: translate(-90%, -50%);
        z-index: 2;
    }

    .toggle span {
        position: absolute;
        width: 25px;
        height: 4px;
        background: #1a1a1a;
        border-radius: 4px;
        transition: 0.8s;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-10px);
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
    }

    .toggle span:nth-child(2) {
        transform: translateY(10px);
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(-45deg);
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(80px);
    }

    .contact-wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .contact-info {
        padding: 35px;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px 200px 10px 5px;
        
    }
}

@media screen and (max-width: 500px) {
  

    .form-group input,
    .form-group textarea {
        margin-bottom: 5px;
        padding: 10px 100px 10px 5px;
        
    }
}

@media screen and (max-width: 400px) and (max-height: 700px) {
    .contact-info {
        padding: 5px 10px 45px 10px;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px 50px 10px 5px;
        
    }
}