* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

/*----------------------------------header-------------------------------*/
.header {
    width: 100%;
    background-color: #fff;
    padding: 30px;
    color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home a {
    letter-spacing: 8px;
    text-decoration: none;
    color: #1a1a1a;
    font-family: Klein;
}

.social-media {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.social-media .fa-brands {
    margin-left: 20px;
    transition: 0.5s;
    color: #1a1a1a;
}

.social-media .fa-brands:hover {
    transform: translateY(-2px);
    margin-left: 20px;
}

.container .header h1 {
    font-family: 'Zincothen';
    font-size: 25px;
    letter-spacing: 15px;
    color: #1a1a1a;
}



/*-----------------------------------box--------------------------------*/
.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-inline: 15px;
}

.container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;

}

.container .box .dream img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}


/*----------------------------------------------------------------------------*/

@media(max-width: 600px) {
    .container{
        max-width: 100%;
    }

    .home{
        font-size: 10px;
    }

    .container .box{
        display: flex;
        flex-direction: column;
    }

    .container .box .dream{
        width: 100%;
    }

    
}

