* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    background-color: #f3f3f3;
    color: #1a1a1a;
}

.home a {
    letter-spacing: 8px;
    text-decoration: none;
    color: #1a1a1a;
    font-family: Klein;
}

.social-media {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.social-media .fa-brands {
    margin-left: 20px;
    transition: 0.5s;
}

.social-media .fa-brands:hover {
    transform: translateY(-2px);
    margin-left: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #1a1a1a;
    margin: 0 20px;
}

img {
    width: 30%;
    height: auto;
    border-radius: 15px;
}

.text {
    padding: 0 10px;
}

.text h1 {
    font-family: 'Zincothen';
    font-size: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;

}

.text h5 {
    padding-bottom: 10px;
    font-family: 'Zincothen';
    letter-spacing: 2px;
    font-size: 16px;
    position: relative;
}

.text h5::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #1a1a1a;
    position: absolute;
    left: 0;
    bottom: -6px;
}


.text p {
    margin-top: 20px;
    font-family: 'Spartan';
    letter-spacing: 2px;
    color: #000;
}

@media screen and (max-width: 600px) {
    .header {
        height: 5%; 
    }

    .content{
        flex-direction: column;
    }

    .about .content img{
        width: 100%;
        height: auto;
    }

    .about .content .text{
        width: 100%;
        margin-top: 20px;
    }   
}