* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

nav{
    display: flex;
    height: 10%;
}

nav ul{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
}

nav ul a{
    text-decoration: none;
    font-family: Klein;
    color: #1a1a1a;
    font-size: 15px;
}

.content {
    height: 90%;
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #1a1a1a;
}

img {
    width: 30%;
    height: auto;
    border-radius: 15px;
}

.text {
    padding: 0 10px;
    background-color: #f3f3f3;

}

.text h1 {
    font-family: 'Zincothen';
    font-size: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;

}

.text h5 {
    padding-bottom: 10px;
    font-family: 'Spartan';
    letter-spacing: 2px;
    font-size: 16px;
    position: relative;
}

.text h5::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #1a1a1a;
    position: absolute;
    left: 0;
    bottom: -6px;
}


.text p {
    margin-top: 20px;
    font-family: 'Spartan';
    letter-spacing: 2px;
    color: #000;
}

@media screen and (max-width: 800px) {
    .nav{
        position: relative;
    }
    .nav ul {
        position: fixed;
        background-color: #f3f3f3;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        z-index: 1;
    }
    .nav ul.open{
        clip-path: circle(2000px at 90% -10%);
        -webkit-clip-path: circle(2000px at 90% -10%);
    }

    .toggle {
        position: absolute;
        width: 40px;
        height: 40px;
        background: #f3f3f3;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        left: 90%;
        top: 50%;
        transform: translate(-90%, -50%);
        z-index: 2;
    }

    .toggle span {
        position: absolute;
        width: 25px;
        height: 4px;
        background: #1a1a1a;
        border-radius: 4px;
        transition: 0.8s;
    }

    .toggle span:nth-child(1) {
        transform: translateY(-10px);
    }

    .toggle.active span:nth-child(1) {
        width: 40px;
        transform: translateY(0px) rotate(45deg);
    }

    .toggle span:nth-child(2) {
        transform: translateY(10px);
    }

    .toggle.active span:nth-child(2) {
        width: 40px;
        transform: translateY(0px) rotate(-45deg);
    }

    .toggle.active span:nth-child(3) {
        transform: translateX(80px);
    }
    
    .content{
        flex-direction: column;
        position: relative;
    }

    .content img{
        position: absolute;
        top: 0;
        width: auto;
        height: 50%;
    }

    .content .text{
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: 10px;
    }   
}